<h1>Editar filme</h1>
<%= form_with model: @movie do |f| %>
  <div>
    <%=  f.label :title, 'Título'%>
    <%=  f.text_field :title %>
  </div>
  <div>
    <%= f.label :year, 'Ano de lançamento' %>
    <%= select_year Date.today, start_year: 1895, end_year: Date.today.year, prefix: "movie", field_name: 'year' %>
  </div>
  <div>
    <%= f.label :synopsis, 'Sinopse' %>
    <%= f.text_area :synopsis %>
  </div>
  <div>
    <%= f.label :length, 'Duração (min)' %>
    <%= f.number_field :length %>
  </div>
  <div>
    <%= f.label :country_id, 'País' %>
    <%= f.collection_select :country_id, Country.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.label :genre_id, 'Gênero' %>
    <%= f.collection_select :genre_id, Genre.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.label :director_id, 'Diretor' %>
    <%= f.collection_select :director_id, Director.order(:name), :id, :name %>
  </div>
  <%= f.submit 'Atualizar filme' %>
<% end %>
