<h1><%= @movie.title %></h1>
<p>
  <% if @movie.released? %>
    Lançado em 
  <% else %>
    A ser lançado em 
  <% end %>
  <%= @movie.year %>
</p>
<%= link_to 'Editar', edit_movie_path(@movie) %>
<%= link_to 'Remover', movie_path(@movie), data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
<dl>
  <dt>Sinopse</dt>
  <dd> <%= @movie.synopsis %> </dd>
  <dt>Duração</dt>
  <dd> <%= @movie.length %> min</dd>
  <dt>País</dt>
  <dd> <%= Country.find(@movie.country_id).name %> </dd>
  <dt>Gênero</dt>
  <dd> <%= Genre.find(@movie.genre_id).name %> </dd>
  <dt>Diretor</dt>
  <dd> <%= Director.find(@movie.director_id).name %> </dd>
</dl>