<%= form_with model: director do |f| %>
  <div>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :birthdate, 'Data de nascimento' %>
    <%= f.date_field :birthdate %>
  </div>
  <div>
    <%= f.label :country_id, 'País de origem' %>
    <%= f.collection_select :country_id, Country.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.fields_for :genre, director.genre do |genre| %>
      <%= genre.label :name, 'Gênero favorito' %>
      <%= genre.text_field :name %>
    <% end %>
  </div>
  <%= f.submit "Enviar" %>
<% end %>