<h1> <%= @director.name %> </h1>
<dl>
  <dt>Data de nascimento</dt>
  <dd> <%= @director.birthdate %> </dd>
  <dt>Nacionalidade</dt>
  <dd> <%= @director.country.name %> </dd>
  <dt>Gênero favorito</dt>
  <dd> <%= @director.genre.name %> </dd>
</dl>
<%= link_to 'Editar', edit_director_path(@director) %>
<%= link_to 'Remover', director_path(@director), data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
<% if @director.movies.any? %>
  <h2>Filmes dirigidos por <%= @director.name %>: </h2>
  <%= render 'movies/overview', movies: @director.movies %>
<% end %>