<h1>Catálogo de filmes</h1>
<% if @genres.any? %>
  <h2>Gêneros</h2>
  <ul>
    <% @genres.each do |genre| %>
      <li>
        <h3> <%= link_to genre.name, genre_path(genre) %> </h3>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Cadastrar gênero", new_genre_path %>
<% if @directors.any? %>
  <h2>Diretores</h2>
  <ul>
    <% @directors.each do |director| %>
      <li>
        <h3> <%= link_to director.name, director_path(director) %> </h3>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Cadastrar diretor", new_director_path %>
<% if @movies.any? %>
  <h2>Filmes</h2>
  <%= render 'movies/overview', movies: @movies %>
<% end %>
<%= link_to "Cadastrar filme", new_movie_path %>