<h1>Catálogo de filmes</h1>
<% if @genres.any? %>
  <h2>Gêneros</h2>
  <%= render 'genres/overview', genres: @genres %>
<% end %>
<%= link_to "Cadastrar gênero", new_genre_path %>
<% if @directors.any? %>
  <h2>Diretores</h2>
  <%= render 'directors/overview', directors: @directors %>
<% end %>
<%= link_to "Cadastrar diretor", new_director_path %>
<% if @movies_published.any? %>
  <h2>Filmes</h2>
  <%= render 'movies/overview', movies: @movies_published %>
<% end %>
<%= link_to "Cadastrar filme", new_movie_path %>
<% if @movies_draft.any? %>
  <%= link_to 'Rascunhos', movies_path %>
<% end %>